/* Global Styles */
body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
}

h1, h2, h3 {
  text-align: center;
  color: #2c3e50;
}

p {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

/* Experience List Styles */
ol {
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
}

ol li {
  display: inline-block;
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}

/* Personal Data Table Styles */
table {
  margin: 20px auto;
  width: 30%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
}

th {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
}

/* Profile Picture Styles */
img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline;
  margin: 0 10px;
  vertical-align: middle
}

ul li a { 
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

ul li a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

ul li a:hover {
  color: #2c3e50;
}

/* Contact Form Styles */
form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover { 
  background-color: #2980b9;
}
